* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

svg {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: .5s;
    display: none;
}

#header {
    display: flex;
    min-height: 55px;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.header__logo {
    font-size:40px;
    margin-left: 30px;
    color: blue;
}

.header__wrap {
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header__cart {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 35vw;
    z-index: 5;
    transition: .3s ease;
}

.header__cart__wrap {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 50px;
    min-height: 400px;
}

.header__icon__close svg{
    width: 20px;
    height: 20px;
}


.header__cart__title {
    font-size: 16px;
    margin-bottom: 30px;
}
.header__cart__product {
    width: 100%;
}
.header__cart__item {
    height: 60px;
    background-color: orange;
    margin: 5px 0;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.cart__divided {
    height: 1px;
    width: 100%;
    border-top: 0.5px dotted #666;
}

.header__cart__sum_money {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #666;
    padding-top: 20px;
    margin-top: 10px;
}
.header__cart__sum, .header__cart__price {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header__cart__btn {
    margin: 0 auto;
    width: 100px;
    height: 35px;
    background-color: #333;
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
    border: none;
}

.header__cart__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 6;
}

.header__wrap__icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.icon__bars {
    display: none;
}

.icon__bars svg {
    width: 20px;
    height: 20px;
    margin: 0 10px;

}

.header__btn {
    margin-left: 10px;
}


/* Search Header */
.header__search {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 45vw;
    background-color: #fff;
    z-index: 5;
    transition: .3s ease;
}

.header__search.active {
    right: 0;
}
.header__search__title {
    margin: 50px 80px;
}
.header__search__input__wrap {
    margin: 80px 80px;
    position: relative;

}
.header__search__input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #f5efef;
    border: none;
}

.header__search__input__wrap svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    transform: translateY(-50%);
}
.header__search__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Login */  
.account__form {
    width: 30%;
    min-height: 400px;
    border-radius: 15px;
    background-color: white;
    z-index: 4;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: .3s fadeIn ease;
}

.account__form__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.account__form a:hover {
    color: red;
}

.account__form__title {
    font-size: 30px;
    align-items: center;

}
.account__form__desc {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;

}
.account__form__input__wrap {
    position: relative;
    width: 100%;
}
.account__form__showpass {
    position: absolute;
    top: 50%;
    right: 14px;
    font-size: 14px;
}
.account__form__input {
    width: 100%;
    margin-top: 20px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    font-size: 15px;
}
.account__form__forgot {
    margin-top: 15px;
    color: #333;
    margin-right: auto;
    text-decoration: none;
    font-size: 15px;
}
.account__form__btn {
    width: 100%;
    height: 45px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.account__form__btns__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.account__form__btns_item {
    margin: 0 2px;
    width: 33.333333333333333%;
    height: 45px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    padding-top: 3px;
}

.account__form__link__desc {
    margin-top: 20px;
    font-size: 14px;
}
.account__login__link {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.account__btn__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}



/* NAV */
#nav {
    margin-top: 30px;
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    
}

.nav__pc {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    height: 40px;
    padding: 0 20px;
    position: relative;
    cursor: pointer;

}


.nav__link {
    color: #333;
    text-decoration: none;
}

.nav__list {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 0 5px #888;
    z-index: 999;
}

.nav__list::after {
    content: "";
    width: 150px;
    height: 15px;
    position: absolute;
    top: -5px;
}

.nav__list li {
    padding: 8px 10px;
}

.nav__list li:hover {
    background-color: #BDBDBDBD;
} 

.nav__list__item {
    text-decoration: none;
    color: #333;
}

.nav__item:hover .nav__list {
    display: block;
}

.nav__divide {
    width: 100%;
    border-top: 1px solid #333;
}

/* NAV ASIDE */
.nav__aside {
    position: fixed;
    top: 0;
    right:-100%;
    bottom: 0;
    width: 50vw;
    background-color: #fff;
    z-index: 5;
}

.nav__aside__list {
    margin: 40px 60px;
}

.nav__aside__list .footerlist__icons {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.nav__aside__title {
    margin-bottom: 20px;
}

.nav__aside__item {
    margin: 8px 20px;
    font-size: 18px;
    cursor: pointer;
}

.nav__aside__item__text {
    text-decoration: none;
    color: #333;
}

.nav__aside__item__text:hover, .nav__aside__select a:hover {
    color: blue;
}



.nav__aside__select__list {
    display: none;
    animation: .2s fadeIn ease;
    margin-left: 10px;
}
.nav__aside__select__list.active {
    display: block;
}

.nav__aside__select {
    font-size: 18px;
    margin: 8px 0;
    margin-left: 20px;
}

.nav__aside__select a {
    text-decoration: none;
    color: #333;
}

.nav__aside__select:hover {
    color: blue;
}

.nav__aside__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 6;
}


#subheader {
    display: none;
    justify-content: space-between;
    align-self: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    background-color: white;
    z-index: 2;
}

#subheader .header__wrap {
    position: relative;
}

#subheader .nav__link {
    font-size: 1.2rem;
}



#content {
    min-height: 1000px;
}




.slide__img {
    margin-top: 5px;
    overflow: hidden;
}

.slide__img__list {
    display: flex;
    transition: .5s;
}
.slide__img__list img {
    max-width: 100vW;
}

.content__section {
    margin-top: 50px !important;
}

.selection__heading {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.content__section__nav {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.content__section__nav__item {
    padding: 0 20px;
    padding-bottom: 15px;
    cursor: pointer;
}

.content__section__nav__selected {
    border-bottom: 3px solid black;
    opacity: 0.7;
    animation: .3s fadeIn ease;
}


.content__section__item {
    height: 200px;
    display: flex;
    justify-content: center;
}

.content__section__item div {
    color: white;
    text-decoration: none;
    align-items: center;
    background-color: orange;
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 1.3rem;
    margin-top: 8px;
}

#footer {
    margin-top: 50px;
    margin-bottom: 100px;
}

.footer__wrap {
    margin-left: 10px;
}

.footer__title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
}
.footer__option {
    padding: 2px 10px;
    width: 100%;
}

.footerlist__link {
    margin-top: 10px;
    animation: .2s fadeIn ease;
}
.footerlist__link.active{
    display: block;
}

.footerlist__link a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
}
.footerlist__icons {
    display: flex;
    padding-top: 15px;
    animation: .2s fadeIn ease;
    
}
.footerlist__icons.active {
    display: flex;
}

.footer__option__icon a {
    margin: 0px 3px;

}

.footer__option__icon a svg {
    width: 30px;
    height: 30px;
}
